/* Глобальні стилі */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Контейнер */
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Хедер */
  .header {
    background-color: #e0e0e0;
    border-bottom: 1px solid #bdbdbd; /* Додано рамку */
  }
  
  /* Секції */
  .section {
    padding: 120px 0;
  }
  
  /* Бізнес-секція */
  .business {
    background-color: #2e2f42;
    text-align: center;
  }
  
  .business-h {
    font-weight: 700;
    font-size: 56px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .button-business {
    font-weight: 500;
    font-size: 16px;
    background-color: #4d5ae5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button-business:hover {
    background-color: #404bbf;
  }
  
  /* Футер */
  .footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-logo {
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    text-transform: uppercase;
  }
  
  .footer-logo-span {
    color: #f4f4fd;
  }
  
  .footer-text {
    font-size: 16px;
    color: #f4f4fd;
    max-width: 400px;
    margin: 0 auto;
  }
  