/* Глобальні стилі */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Контейнер */
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Хедер */
  .header {
    background-color: #e0e0e0;
    border-bottom: 1px solid #bdbdbd; /* Додано рамку */
  }
  
  /* Секції */
  .section {
    padding: 120px 0;
  }
  
  /* Бізнес-секція */
  .business {
    background-color: #2e2f42;
    text-align: center;
  }
  
  /* Футер */
  .footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 40px 0;
    text-align: center;
  }
  